* {
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 ,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
}

h1 strong {
    color: #026fff;
}

.hero {
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.header {
    background-color: #1b2127;
}

.header a {
    color: white;
}